# Seguridad (NUNCA subir esto)
.env
.env.local

# Dependencias
node_modules/
dist/
dist-ssr/

# Instrucción de proyecto (Evitar rastros de db local)
db/

# Logs y Debug
logs
*.log
npm-debug.log*

# Editor y Sistema
.vscode/
.idea/
.DS_Store
*.swp